body
  background: blue
  margin-right: auto
  width: 100vw
  height: 100vh

.wrapperr
  display: flex
  flex-direction: column
  align-items: center
  background-color: #8EC5FC
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%)
  margin: auto
  position: relative
  padding: 10px
  width: 280px

#infoDisplay
  height: 25px
  width: 222px
.kb
  display: flex
  flex-wrap: wrap
  justify-content: center
  background-color: #FF3CAC
  background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%)
  border: 1px solid black
  box-shadow: 10px 5px 5px #784BA0
  padding: 0 4px
  width: 220px
  height: 250px
.bt
  width: 50px
  height: 23px
  margin: auto
  background: #4ea2b3
  border: 1px solid lime
  text-align: center
  padding-top: 10px
  cursor: pointer
.bt:hover
  border-color: red
