body {
  background: blue;
  margin-right: auto;
  width: 100vw;
  height: 100vh;
}

.wrapperr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #8EC5FC;
  background-image: -o-linear-gradient(28deg, #8EC5FC 0%, #E0C3FC 100%);
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  margin: auto;
  position: relative;
  padding: 10px;
  width: 380px;
}

#infoDisplay {
  height: 30px;
  width: 363px;
}

.kb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #FF3CAC;
  background-image: -o-linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
  background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
  border: 1px solid black;
  -webkit-box-shadow: 10px 5px 5px #784BA0;
  box-shadow: 10px 5px 5px #784BA0;
  padding: 0 4px;
  width: 360px;
  height: 270px;
  font-family: sans-serif;
}

.bt {
  width: 53px;
  height: 23px;
  margin: 8px;
  background: #4ea2b3;
  border: 1px solid lime;
  text-align: center;
  padding-top: 10px;
  cursor: pointer;
}

.bt:hover {
  border-color: red;
}